In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
colnames = ["duration","protocol_type","service","flag","src_bytes","dst_bytes","land","wrong_fragment","urgent","hot","num_failed_logins","logged_in","num_compromised","root_shell","su_attempted","num_root","num_file_creations","num_shells","num_access_files","num_outbound_cmds","is_host_login","is_guest_login","count","srv_count","serror_rate","srv_serror_rate","same_srv_rate","diff_srv_rate","srv_diff_host_rate","una1","una2","dst_host_count","dst_host_srv_count","dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate","dst_host_srv_diff_host_rate","dst_host_serror_rate","dst_host_srv_serror_rate","dst_host_rerror_rate","dst_host_srv_rerror_rate","result"]
# len(colnames)

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/kddcup.data_10_percent_corrected',header=None,names=colnames)

In [ ]:
df.head()

   duration protocol_type  ... dst_host_srv_rerror_rate   result
0         0           tcp  ...                      0.0  normal.
1         0           tcp  ...                      0.0  normal.
2         0           tcp  ...                      0.0  normal.
3         0           tcp  ...                      0.0  normal.
4         0           tcp  ...                      0.0  normal.

[5 rows x 42 columns]

In [ ]:
for col in df.columns:
  print(col, ' :', len(df[col].unique()), ' ', df[col].dtypes)

duration  : 2495   int64
protocol_type  : 3   object
service  : 66   object
flag  : 11   object
src_bytes  : 3300   int64
dst_bytes  : 10725   int64
land  : 2   int64
wrong_fragment  : 3   int64
urgent  : 4   int64
hot  : 22   int64
num_failed_logins  : 6   int64
logged_in  : 2   int64
num_compromised  : 23   int64
root_shell  : 2   int64
su_attempted  : 3   int64
num_root  : 20   int64
num_file_creations  : 18   int64
num_shells  : 3   int64
num_access_files  : 7   int64
num_outbound_cmds  : 1   int64
is_host_login  : 1   int64
is_guest_login  : 2   int64
count  : 490   int64
srv_count  : 470   int64
serror_rate  : 92   float64
srv_serror_rate  : 51   float64
same_srv_rate  : 77   float64
diff_srv_rate  : 51   float64
srv_diff_host_rate  : 99   float64
una1  : 78   float64
una2  : 64   float64
dst_host_count  : 256   int64
dst_host_srv_count  : 256   int64
dst_host_same_srv_rate  : 101   float64
dst_host_diff_srv_rate  : 101   float64
dst_host_same_src_port_rate  : 101   float64
dst_host_srv_diff_host_rate  : 65   float64
dst_host_serror_rate  : 100   float64
dst_host_srv_serror_rate  : 72   float64
dst_host_rerror_rate  : 101   float64
dst_host_srv_rerror_rate  : 101   float64
result  : 23   object

In [ ]:
#examining how many columns will we obtain after one hot encoding the variables
pd.get_dummies(df,drop_first=True).shape

(494021, 137)

In [ ]:
df.service.value_counts().sort_values(ascending=False).head(30)

ecr_i         281400
private       110893
http           64293
smtp            9723
other           7237
domain_u        5863
ftp_data        4721
eco_i           1642
ftp              798
finger           670
urp_i            538
telnet           513
ntp_u            380
auth             328
pop_3            202
time             157
csnet_ns         126
remote_job       120
gopher           117
imap4            117
domain           116
discard          116
systat           115
iso_tsap         115
shell            112
echo             112
rje              111
sql_net          110
whois            110
printer          109
Name: service, dtype: int64

In [ ]:
df.shape

(494021, 42)

In [ ]:
df.describe()

            duration  ...  dst_host_srv_rerror_rate
count  494021.000000  ...             494021.000000
mean       47.979302  ...                  0.057412
std       707.746472  ...                  0.230140
min         0.000000  ...                  0.000000
25%         0.000000  ...                  0.000000
50%         0.000000  ...                  0.000000
75%         0.000000  ...                  0.000000
max     58329.000000  ...                  1.000000

[8 rows x 38 columns]

In [ ]:
pd.Series(df.protocol_type.value_counts(ascending=True))

udp      20354
tcp     190065
icmp    283602
Name: protocol_type, dtype: int64

In [ ]:
df['result'].unique()

array(['normal.', 'buffer_overflow.', 'loadmodule.', 'perl.', 'neptune.',
       'smurf.', 'guess_passwd.', 'pod.', 'teardrop.', 'portsweep.',
       'ipsweep.', 'land.', 'ftp_write.', 'back.', 'imap.', 'satan.',
       'phf.', 'nmap.', 'multihop.', 'warezmaster.', 'warezclient.',
       'spy.', 'rootkit.'], dtype=object)

In [ ]:
df['protocol_type'].unique()

array(['tcp', 'udp', 'icmp'], dtype=object)

In [ ]:
df.isnull().sum()

duration                       0
protocol_type                  0
service                        0
flag                           0
src_bytes                      0
dst_bytes                      0
land                           0
wrong_fragment                 0
urgent                         0
hot                            0
num_failed_logins              0
logged_in                      0
num_compromised                0
root_shell                     0
su_attempted                   0
num_root                       0
num_file_creations             0
num_shells                     0
num_access_files               0
num_outbound_cmds              0
is_host_login                  0
is_guest_login                 0
count                          0
srv_count                      0
serror_rate                    0
srv_serror_rate                0
same_srv_rate                  0
diff_srv_rate                  0
srv_diff_host_rate             0
una1                           0
una2                           0
dst_host_count                 0
dst_host_srv_count             0
dst_host_same_srv_rate         0
dst_host_diff_srv_rate         0
dst_host_same_src_port_rate    0
dst_host_srv_diff_host_rate    0
dst_host_serror_rate           0
dst_host_srv_serror_rate       0
dst_host_rerror_rate           0
dst_host_srv_rerror_rate       0
result                         0
dtype: int64

In [ ]:
df['service'].unique()

array(['http', 'smtp', 'finger', 'domain_u', 'auth', 'telnet', 'ftp',
       'eco_i', 'ntp_u', 'ecr_i', 'other', 'private', 'pop_3', 'ftp_data',
       'rje', 'time', 'mtp', 'link', 'remote_job', 'gopher', 'ssh',
       'name', 'whois', 'domain', 'login', 'imap4', 'daytime', 'ctf',
       'nntp', 'shell', 'IRC', 'nnsp', 'http_443', 'exec', 'printer',
       'efs', 'courier', 'uucp', 'klogin', 'kshell', 'echo', 'discard',
       'systat', 'supdup', 'iso_tsap', 'hostnames', 'csnet_ns', 'pop_2',
       'sunrpc', 'uucp_path', 'netbios_ns', 'netbios_ssn', 'netbios_dgm',
       'sql_net', 'vmnet', 'bgp', 'Z39_50', 'ldap', 'netstat', 'urh_i',
       'X11', 'urp_i', 'pm_dump', 'tftp_u', 'tim_i', 'red_i'],
      dtype=object)

In [ ]:
df['flag'].unique()

array(['SF', 'S1', 'REJ', 'S2', 'S0', 'S3', 'RSTO', 'RSTR', 'RSTOS0',
       'OTH', 'SH'], dtype=object)

In [ ]:
df_copy=df.copy()

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

onehot=OneHotEncoder()
cat_attr = ['protocol_type','service','flag']

pipeline = ColumnTransformer([("onehot", onehot,cat_attr)])
df_transformed = pipeline.fit_transform(df_copy).toarray()

In [ ]:
df_copy["result"] = np.where(df_copy.result == "normal.",1,0)

In [ ]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494021 entries, 0 to 494020
Data columns (total 42 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   duration                     494021 non-null  int64
 1   protocol_type                494021 non-null  object
 2   service                      494021 non-null  object
 3   flag                         494021 non-null  object
 4   src_bytes                    494021 non-null  int64
 5   dst_bytes                    494021 non-null  int64
 6   land                         494021 non-null  int64
 7   wrong_fragment               494021 non-null  int64
 8   urgent                       494021 non-null  int64
 9   hot                          494021 non-null  int64
 10  num_failed_logins            494021 non-null  int64
 11  logged_in                    494021 non-null  int64
 12  num_compromised              494021 non-null  int64
 13  root_shell                   494021 non-null  int64
 14  su_attempted                 494021 non-null  int64
 15  num_root                     494021 non-null  int64
 16  num_file_creations           494021 non-null  int64
 17  num_shells                   494021 non-null  int64
 18  num_access_files             494021 non-null  int64
 19  num_outbound_cmds            494021 non-null  int64
 20  is_host_login                494021 non-null  int64
 21  is_guest_login               494021 non-null  int64
 22  count                        494021 non-null  int64
 23  srv_count                    494021 non-null  int64
 24  serror_rate                  494021 non-null  float64
 25  srv_serror_rate              494021 non-null  float64
 26  same_srv_rate                494021 non-null  float64
 27  diff_srv_rate                494021 non-null  float64
 28  srv_diff_host_rate           494021 non-null  float64
 29  una1                         494021 non-null  float64
 30  una2                         494021 non-null  float64
 31  dst_host_count               494021 non-null  int64
 32  dst_host_srv_count           494021 non-null  int64
 33  dst_host_same_srv_rate       494021 non-null  float64
 34  dst_host_diff_srv_rate       494021 non-null  float64
 35  dst_host_same_src_port_rate  494021 non-null  float64
 36  dst_host_srv_diff_host_rate  494021 non-null  float64
 37  dst_host_serror_rate         494021 non-null  float64
 38  dst_host_srv_serror_rate     494021 non-null  float64
 39  dst_host_rerror_rate         494021 non-null  float64
 40  dst_host_srv_rerror_rate     494021 non-null  float64
 41  result                       494021 non-null  int64
dtypes: float64(15), int64(24), object(3)
memory usage: 158.3+ MB

In [ ]:
# # ##Train Test Split to overcome overfitting
# # from sklearn.model_selection import train_test_split
# # X_train, X_test, y_train, y_test = train_test_split(df_copy.drop(labels=['result'],axis=1),df_copy['result'],test_size=0.3,random_state=1)
# # check version number
# from imblearn.over_sampling import SMOTE, ADASYN
# from imblearn.combine import SMOTEENN, SMOTETomek  
# from sklearn.model_selection import train_test_split
# from collections import Counter
# def x_y(df_given):
#   X = df_copy.drop(labels=['result'],axis=1)
#   y = df_copy['result']
#   counter = Counter(y)
#   print("before: ",counter)
#   oversample = ADASYN(random_state = 1)
#   X,y = oversample.fit_resample(X,y)
#   X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.3)
#   counter = Counter(y)
#   print("after: ",counter)
#   return X_train, X_test, y_train, y_test

**Feature Selection - CORRELATION**

In [ ]:
import seaborn as sns
plt.figure(figsize=(41,20))
cor = X_train.corr()
sns.heatmap(cor,annot=True, cmap=plt.cm.CMRmap_r)
plt.show()

In [ ]:
def correlation(dataset, threshold):
  col_corr = set()
  corr_matrix = dataset.corr()
  for i in range(len(corr_matrix.columns)):
    for j in range(i):
      if (corr_matrix.iloc[i,j]) > threshold:
        colname = corr_matrix.columns[i]
        col_corr.add(colname)
  return col_corr

In [ ]:
corr_features = correlation(X_train, 0.8)
len(set(corr_features))

In [ ]:
corr_features

In [ ]:
X_train.drop(corr_features,axis=1)
X_test.drop(corr_features,axis=1)

**Feature Selection - INFORMATION GAIN**

In [ ]:
from sklearn.feature_selection import mutual_info_classif
mutual_info = mutual_info_classif(X_train,y_train)
mutual_info

In [ ]:
mutual_info = pd.Series(mutual_info)
mutual_info.index=X_train.columns
mutual_info.sort_values(ascending=False)

In [ ]:
mutual_info.sort_values(ascending=False).plot.bar(figsize=(20,8))

In [ ]:
from sklearn.feature_selection import SelectKBest
sel_four_cols=SelectKBest(mutual_info_classif,k=4)
sel_four_cols.fit(X_train,y_train)
X_train.columns[sel_four_cols.get_support()]

In [ ]:
icmp_df = df[df.loc[:,"protocol_type"] == "icmp"]
pd.Series(icmp_df.result.value_counts(ascending=True))